/*styles for the map boundaries & text*/

.g-map {
  position: relative;
  font-family: Helvetica, Arial;
  font-size: 8px;
}

.g-map svg {
  overflow: hidden;
  position: absolute;
}

/* State outlines */
.g-map .state {
  stroke-width:1;
  stroke: #fff;
}

/* State boundaries mesh -- overlaid on top of county, cz or zip maps*/
.g-map .statemesh {
  stroke-width:1;
  fill: none;
  stroke: #fff;
}

/* Commuting Zone outlines */
.g-map .cz {
  stroke: #999;
  stroke-width: 0.5;
}

/* County outlines */
.g-map .ct {
  stroke: none;
  stroke-width: 0.5;
}

/* all other lines */
line {
  stroke: #999;
  shape-rendering: crispEdges;
}
